@import 'spacing';
@import 'mixins';

.step-title {
  font-family: var(--font-barlow-condensed);
  font-size: clamp(1rem, 2vw, 1.75rem);
  line-height: 1.5;
  letter-spacing: 0.16875em;
  text-transform: uppercase;
  margin-bottom: clamp(2rem, 5vw, 4rem);

  span {
    opacity: 0.25;
  }
}
