@import 'spacing';
@import 'mixins';

.step-title {
  font-family: var(--font-barlow-condensed);
  font-size: 1rem;
  letter-spacing: 0.16875em;
  text-transform: uppercase;

  @include tablet {
    font-size: 1.25rem;
  }
  @include desktop {
    font-size: 1.75rem;
    margin-bottom: $margin-xl;
  }

  span {
    opacity: 0.25;
  }
}
