@import 'spacing';
@import 'mixins';

.step-title {
  font-family: var(--font-barlow-condensed);
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;

  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 28px;
    margin-bottom: $margin-xl;
  }

  span {
    opacity: 0.25;
  }
}
