@import 'mixins';

@include generateBackground(crew);

.main {
  height: 100%;
}

.step {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    align-items: flex-start;
  }

  @include desktop {
    align-items: flex-start;
  }
}
