@import 'colors';
@import 'spacing';
@import 'mixins';

.crew-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $container-mobile;
  text-align: center;
  column-gap: 50px;

  @include mobile {
    margin-top: $margin-l;
  }
  @include tablet {
    max-width: $container-tablet;
    text-align: center;
    margin-top: 50px;
  }
  @include desktop {
    text-align: left;
    max-width: $container-desktop;
    flex-direction: row;
  }
}
.crew-image-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  flex: 1;

  @include mobile {
    order: 1;
    flex: auto;
    height: auto;
    border-bottom: 3px solid $border-color;
    margin-bottom: $margin-l;
  }
  @include tablet {
    margin-top: $margin-xl;
  }

  img {
    object-fit: none;
  }
}
.crew-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    order: 2;
  }
  @include desktop {
    flex: 1;
    align-items: flex-start;
  }

  h4 {
    display: block;
    margin-bottom: $margin-s;
    opacity: 0.5;

    @include mobile {
      order: 2;
      margin-top: $margin-l;
      font-size: 1rem;
    }
    @include tablet {
      font-size: 1.5rem;
    }
  }

  .name-wrapper {
    margin-bottom: $margin-s;

    @include mobile {
      order: 2;
      font-size: 1.5rem;
    }
    @include desktop {
      min-height: 128px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    h3 {
      @include tablet {
        font-size: 2.5rem;
      }
    }
  }

  p {
    display: block;
    margin-bottom: $margin-m;
    min-height: 100px;

    @include mobile {
      height: auto;
      order: 2;
      font-size: 1rem;
      min-height: 125px;
    }
  }
}
