@import 'colors';
@import 'spacing';
@import 'mixins';

.crew-nav {
  order: 1;

  @include desktop {
    order: 2;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: clamp(1rem * 2, 1vw * 2, 3rem);
  }

  li {
    opacity: 0.17;
    transition: all 0.2s;
    background-color: $text-color;
    width: clamp(1rem, 1vw, 3rem);
    height: clamp(1rem, 1vw, 3rem);
    border-radius: 50%;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &.active {
      opacity: 1;
      cursor: default;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }
  }
}
