@import 'colors';
@import 'mixins';

html {
  font-family: var(--font-barlow);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-bellefair);
  text-transform: uppercase;
}

h1 {
  font-size: 6.25rem;
  @include tablet {
    font-size: 9.375rem;
  }
  @include desktop {
    font-size: 9.375rem;
  }
}
h2 {
  font-size: 3.5rem;
  @include tablet {
    font-size: 3.5rem;
  }
  @include desktop {
    font-size: 5rem;
  }
}
h3 {
  font-size: 2rem;
  @include tablet {
    font-size: 3.5rem;
  }
  @include desktop {
    font-size: 3.5rem;
    line-height: 1.15;
  }
}
h4 {
  font-size: 1.75rem;
  @include tablet {
    font-size: 2rem;
  }
  @include desktop {
    font-size: 2rem;
  }
}
h5 {
  font-family: var(--font-barlow-condensed);
  font-size: 0.875rem;
  letter-spacing: 0.296875em;
  color: $subtext-color;
  @include tablet {
    font-size: 1.75rem;
  }
  @include desktop {
    font-size: 1.75rem;
  }
}

p {
  font-family: var(--font-barlow);
  font-size: 1rem;
  color: $subtext-color;
  @include tablet {
    font-size: 1rem;
    line-height: 1.75;
  }
  @include desktop {
    font-size: 1.125rem;
    line-height: 1.25;
  }
}
h6 {
  font-family: var(--font-bellefair);
  font-size: 1.75rem;
  text-transform: uppercase;
  color: $text-color;
  @include tablet {
    font-size: 1.75rem;
  }
  @include desktop {
    font-size: 1.75rem;
  }
}
label {
  font-family: var(--font-barlow-condensed);
  font-size: 0.875rem;
  letter-spacing: 0.146875em;
  text-transform: uppercase;
  color: $subtext-color;
  @include tablet {
    font-size: 0.875rem;
  }
  @include desktop {
    font-size: 0.875rem;
  }
}

hr {
  height: 1px;
  width: 100%;
  border-color: $border-color;
}
