@import 'colors';
@import 'mixins';

@include generateBackground(home);

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.125rem;
  width: 100%;

  @include desktop {
    text-align: left;

    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.home-info {
  display: flex;
  flex-direction: column;
  gap: $margin-s;

  @include desktop {
    max-width: clamp(25rem, 20vw, 30rem);
    align-self: end;
    justify-self: start;
  }
}

.home-btn {
  @include desktop {
    align-self: end;
    justify-self: end;
  }

  a {
    width: clamp(150px, 20vw, 274px);
    height: clamp(150px, 20vw, 274px);
    background-color: $text-color;
    border-radius: 50%;
    color: $primary-color;
    text-transform: uppercase;
    font-size: clamp(1.25rem, 2vw, 2rem);
    letter-spacing: 0.16875em;
    display: grid;
    place-content: center;
    font-family: var(--font-bellefair);
    position: relative;
    z-index: 2;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      background-color: $text-color;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.3s ease-in-out;
      z-index: -1;
    }

    &:hover::after {
      width: clamp(200px, 25vw, 400px);
      height: clamp(200px, 25vw, 400px);
      opacity: 0.1;
    }
  }
}
