@import 'colors';
@import 'mixins';

body {
  background-color: $primary-color;
  color: $text-color;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  flex-grow: 1;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    padding: 0 clamp(5rem, 15vw, 12.5rem);
    align-items: flex-start;
  }

  @include desktop {
    padding: 0 10rem 7.5rem 10rem;
    align-items: flex-start;
  }
}
