$container-mobile: 20rem;
$container-tablet: 36rem;
$container-desktop: 68.75rem;

$nav-mobile: 100%;
$nav-tablet: 100%;
$nav-desktop: 75rem;

$margin-s: 0.75rem;
$margin-m: 1.5rem;
$margin-l: 2rem;
$margin-xl: 4rem;
