@import 'spacing';
@import 'colors';
@import 'mixins';

.header {
  position: sticky;
  z-index: 30;
  top: 0;
  width: 100%;

  @include mobile {
    padding: 0 1.5rem;
  }
  @include tablet {
    padding: 0 0 2.5rem 2.5rem;
  }
  @include desktop {
    padding: 2.5rem 0 2.5rem 2.5rem;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 6rem;
  width: 100%;
}

.nav-logo {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  @include desktop {
    flex: 1;
  }

  img {
    @include mobile {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  a {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }

  .nav-divider {
    display: none;
    position: relative;
    flex: 1;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 2.5rem;
      bottom: 0;
      left: 2.5rem;
      height: 1px;
      background-color: $text-color;
      z-index: 35;
    }

    @include desktop {
      display: block;
    }
  }
}

.nav-menu-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
  cursor: pointer;
  z-index: 35;

  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}

.nav-menu-list {
  display: flex;
  flex-direction: row;
  min-height: 6rem;
  width: fit-content;
  gap: 3.125rem;
  align-items: stretch;
  justify-content: flex-end;

  font-family: var(--font-barlow-condensed);
  font-size: 1rem;
  letter-spacing: 0.16875em;
  text-transform: uppercase;
  color: $text-color;

  padding: 0 2.5rem;
  position: relative;

  @include desktop {
    justify-content: flex-start;
    flex: 1;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);

    @include desktop {
      left: -7.5rem;
    }
  }

  @include mobile {
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    top: 0;
    height: 100vh;
    width: 18rem;
    gap: 1.5rem;
    right: -18rem;
    padding: clamp(9rem, 15vh, 10rem) $margin-l $margin-l $margin-l;
    transition: all 0.2s;
    min-height: calc(100vh - 3.75rem);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
  }

  &.active {
    right: 0;
  }
}

.nav-link {
  font-size: 1.125rem;
  position: relative;
  transition: all 0.2s;
  z-index: 35;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  &::after {
    display: none;
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: $text-color;
    left: 0;
    right: 0;
    width: 100%;

    @include mobile {
      display: none;
    }
  }

  &:hover,
  &:focus {
    &::after {
      display: block;
      opacity: 0.5;
    }
  }
  &.active {
    &::after {
      display: block;
      opacity: 1;
    }
  }

  .index {
    display: inline-block;
    font-weight: 700;

    @include tablet {
      display: none;
    }
  }
}
