html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

body > main:first-child {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
