@mixin generateBackground($page) {
  .background-#{$page} {
    background-image: url('/images/#{$page}/background-#{$page}-mobile.jpg');
  }

  /* Background for tablet */
  @media (min-width: 768px) {
    .background-#{$page} {
      background-image: url('/images/#{$page}/background-#{$page}-tablet.jpg');
    }
  }

  /* Background for desktop */
  @media (min-width: 1024px) {
    .background-#{$page} {
      background-image: url('/images/#{$page}/background-#{$page}-desktop.jpg');
    }
  }
}
