html {
  font-family: var(--font-barlow);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-bellefair);
}

h1 {
  font-size: 150px;
}
h2 {
  font-size: 100px;
}
h3 {
  font-size: 56px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-family: var(--font-barlow-condensed);
  font-size: 28px;
  letter-spacing: 4.75;
}

p {
  font-family: var(--font-barlow);
  font-size: 18px;
}
p.subheading {
  font-family: var(--font-bellefair);
  font-size: 28px;
}
p.subheading-small {
  font-family: var(--font-barlow-condensed);
  font-size: 14px;
  letter-spacing: 2.35;
}
.nav-text {
  font-family: var(--font-barlow-condensed);
  font-size: 16px;
  letter-spacing: 2.7;
}
