@import 'spacing';
@import 'mixins';

.dest-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include desktop {
    text-align: left;
    flex-direction: row;
  }
}
.dest-image-container {
  display: grid;
  place-items: center;
  padding: clamp(1.5rem, 5vh, 3.5rem);

  @include desktop {
    flex: 1;
  }

  .image-wrapper {
    position: relative;
    width: clamp(10rem, 30vw, 27rem);
    height: clamp(10rem, 30vw, 27rem);
  }
}
.dest-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $margin-s;
  max-width: clamp(10rem * 2, 30vw * 2, 27rem * 2);

  @include desktop {
    flex: 1;
    align-items: flex-start;
  }

  p {
    @include desktop {
      min-height: 6.25rem;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2.5rem;
    width: 100%;

    @include tablet {
      display: flex;
      flex-direction: row;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}
