@import 'colors';
@import 'spacing';
@import 'mixins';

.technology-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  column-gap: 34px;
  width: 100%;

  @include mobile {
    margin-top: $margin-l;
  }
  @include tablet {
    margin-top: 50px;
  }
  @include desktop {
    text-align: left;
    flex-direction: row;
    column-gap: 80px;
  }
}
.technology-image-container {
  width: 100%;
  position: relative;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    position: relative !important;
    width: 100% !important;
    height: unset !important;
  }

  .mobile-image {
    display: none;
  }
  .desktop-image {
    display: none;
  }

  @include mobile {
    order: 1;
    margin-bottom: $margin-m;

    .mobile-image {
      display: block;
    }
  }
  @include tablet {
    margin-bottom: $margin-m;

    .mobile-image {
      display: block;
    }
  }

  @include desktop {
    height: 100%;
    order: 3;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 40%;

    .desktop-image {
      display: block;
    }
  }
}
.technology-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;

  @include mobile {
    max-width: $container-mobile;
  }
  @include tablet {
    max-width: $container-tablet;
  }
  @include desktop {
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: 40%;
  }

  h4 {
    display: block;
    margin-bottom: $margin-s;
    font-family: var(--font-barlow-condensed);
    font-size: 1rem;
    letter-spacing: 0.16875em;
    text-transform: uppercase;
    color: $subtext-color;
  }

  h3 {
    display: block;
    margin-bottom: $margin-s;
  }

  p {
    display: block;
    margin-bottom: $margin-m;
    min-height: 125px;

    @include mobile {
      height: auto;
      font-size: 1rem;
      min-height: 125px;
    }
  }
}
