@import 'colors';
@import 'spacing';
@import 'mixins';

.technology-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: clamp(2.125rem, 5vw, 5rem);
  width: 100%;

  @include desktop {
    text-align: left;
    flex-direction: row;
  }
}

.technology-image-container {
  width: 100%;
  position: relative;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    position: relative !important;
    width: 100% !important;
    height: unset !important;
  }

  .mobile-image {
    display: none;
  }
  .desktop-image {
    display: none;
  }

  @include mobile {
    order: 1;

    .mobile-image {
      display: block;
    }
  }
  @include tabletOnly {
    .mobile-image {
      display: block;
    }
  }

  @include desktop {
    height: 100%;
    order: 3;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
    flex-basis: 40%;

    .desktop-image {
      display: block;
    }
  }
}
.technology-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $margin-s;
  order: 2;

  @include desktop {
    align-items: flex-start;
    flex-grow: 1;
    flex-basis: 40%;
  }

  p {
    @include desktop {
      min-height: 8rem;
    }
  }
}
