@import 'colors';
@import 'spacing';
@import 'mixins';

.technology-nav {
  @include mobile {
    order: 2;
  }
  @include desktop {
    order: 1;
    flex-grow: 1;
    flex-basis: 20%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $margin-m;

    @include desktop {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  li {
    transition: all 0.2s;
    color: $text-color;
    font-size: clamp(1rem, 1.5vw, 2rem);
    width: clamp(2.5rem, 5vw, 5rem);
    height: clamp(2.5rem, 5vw, 5rem);
    border-radius: 50%;
    border: 1px solid $border-color;
    cursor: pointer;
    display: grid;
    place-content: center;

    &:hover,
    &:focus {
      border-color: $text-color;
    }

    &.active {
      cursor: default;
      background-color: $text-color;
      color: $border-color;

      &:hover,
      &:focus {
        border-color: $border-color;
      }
    }
  }
}
